.main {
  height: 100vh;
  min-height: 650px;
  background: url('../images/background.jpg') no-repeat center / cover;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  padding: 0 30px;

  &-skillaz {
    position: absolute;
    top: 0;
    left: 10vw;

    background: url('../images/skillaz-logo.png') no-repeat center / contain;
    width: 10vw;
    height: 3.7vw;
  }

  &-logo {
    background: url('../images/logo.png') no-repeat center / contain;
    width: 32vw;
    height: 5vw;
  }

  &-content {
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  &-content__title {
    margin-top: 3.5vw;
    font-size: 4vw;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 5vw;
    text-shadow: 0 4px 4px #333333;
  }

  &-webcam {
    width: 20vw;
    height: 20vw;

    margin-top: 3.5vw;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background: #E67E1A;
    border: 8px solid #E67E1A;
    box-shadow: 0 0 94px 0 #BD6F25;

    border-radius: 100%;
  }

  &-webcam__icon {
    height: 6vw;
    width: 6vw;
    background: url('../images/webcam.png') no-repeat center / contain;
  }

  &-webcam__text {
    margin-top: 2.2vw;

    font-size: 1.4vw;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 1.7vw;
  }

  &-button {
    margin-top: 3.5vw;
    padding: 0.8vw 1.6vw;

    font-size: 1.5vw;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 3vw;
    border: 1px #FFFFFF solid;
    border-radius: 7px;
    cursor: pointer;

    transition: color .2s ease, background .2s ease;
    will-change: color, background;

    &:hover {
      color: #000000;
      background: #FFFFFF;
    }
  }
}
