.should {
  padding: 30px 0 60px;

  .container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__subtitle {
    text-align: center;
    font-size: 21px;
    color: rgba(51,51,51,0.50);
    line-height: 30px;

    max-width: 800px;
    margin: 0 auto;
    margin-top: 10px;
  }

  &-list {
    width: 100%;
    max-width: 706px;
    margin: 0 auto;
    margin-top: 60px;
  }

  &-list__item {
    flex: 0 0 30%;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    margin-bottom: 36px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &-list__text {
    font-size: 17px;
    color: #333333;
    line-height: 24px;
  }

  &-list__icon {
    margin-right: 30px;

    height: 138px;
    flex: 0 0 138px;
    border-radius: 100px;
  }

  &-list__item--1 .should-list__icon {
    background: url('../images/should-1.png') no-repeat center center / contain;
  }

  &-list__item--2 .should-list__icon {
    background: url('../images/should-2.png') no-repeat center center / contain;
  }

  &-list__item--3 .should-list__icon {
    background: url('../images/should-3.png') no-repeat center center / contain;
  }

  &-bottom {
    margin-top: 48px;
    font-size: 21px;
    color: rgba(61,70,87,0.60);
    line-height: 30px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .should {
    padding-bottom: 0;

    &__subtitle {
      font-size: 18px;
      line-height: 25px;
    }

    &-list {
      display: block;
      margin-top: 0;
    }

    &-list__item {
      margin-top: 50px;
    }

    .c__button {
      margin-top: 50px;
    }
  }
}

@media (max-width: 425px) {
  .should {
    padding-bottom: 30px;

    &__subtitle {
      font-size: 14px;
      line-height: 18px;
    }

    &-list__item {
      flex-flow: row nowrap;
      align-items: flex-start;

      margin-top: 42px;
    }

    &-info {
      text-align: left;
      align-items: flex-start;
    }

    &-list__icon {
      flex: 0 0 48px;
      height: 48px;

      margin-right: 18px;
    }

    &-list__text {
      font-size: 17px;
      line-height: 24px;

      margin-top: 4px;
    }

    &-bottom {
      font-size: 17px;
      color: rgba(61,70,87,0.60);
      line-height: 24px;
    }
  }
}
