.user {
  height: 100vh;
  min-height: 650px;
  background: url('../images/background.jpg') no-repeat center / cover;
  padding: 0 10vw;

  &-logo {
    background: url('../images/logo-big.png') no-repeat center/contain;
    width: 28.7vw;
    height: 3.633vw;
    display: block;
    position: absolute;
    left: 10vw;
    border-bottom-right-radius: 10px;

    z-index: 999;
  }

  &-info {
    padding-top: 4.2vw;
  }

  &-info__name {
    font-weight: 500;
    font-size: 4vw;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 4.5vw;
    text-shadow: 0 4px 4px #333333;
  }

  &-info__email {
    margin-top: 0.2vw;
    font-weight: 500;
    font-size: 2.5vw;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 2.8vw;
    text-shadow: 0 4px 4px #333333;
  }
}

.profession {
  margin-top: 1.3vw;

  display: flex;
  flex-flow: row wrap;
  align-content: center;

  &-item {
    flex: 0 0 49%;
    background: #FFFFFF;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.50);
    border-radius: 0.8vw;

    padding: 1.5vw;
    margin-bottom: 1.4vw;
    cursor: pointer;

    display: flex;
    flex-flow: row nowrap;
  }

  &-item:nth-child(odd) {
    margin-right: 1.4vw;
  }

  &-item__info {
    margin-right: 1vw;
  }

  &-item__title {
    font-weight: 500;
    font-size: 1.2vw;
    color: #E67E1A;
    letter-spacing: 0;
    line-height: 1.6vw;
  }

  &-item__text {
    margin-top: 0.55vw;
    font-size: 1vw;
    color: #3E4757;
    letter-spacing: 0;
    line-height: 1.2vw;
  }

  &-item__icon {
    height: 6vw;
    flex: 0 0 6vw;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &--1 {
      background-image: url('../images/icon-1.png');
    }

    &--2 {
      background-image: url('../images/icon-2.png');
    }

    &--3 {
      background-image: url('../images/icon-3.png');
    }

    &--4 {
      background-image: url('../images/icon-4.png');
    }

    &--5 {
      background-image: url('../images/icon-5.png');
    }

    &--6 {
      background-image: url('../images/icon-6.png');
    }
  }
}