doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');

body
  .main
    a.main-skillaz(href="#")
    a.main-logo(href="#")

    .main-content
      .main-content__title
        | Добро пожаловать  <br/> на собеседование будущего
      .main-webcam
        .main-webcam__icon
        .main-webcam__text
          | Посмотрите в камеру <br/>  чтобы продолжить
    
    .main-button
      | Зарегистрировать вручную
  
  .registration
    .registration-overlay
    .registration-inner
      .registration-inner__title
        | Регистрация
      .registration-form
        .registration-form__group
          .registration-form__field
            input.registration-form__input(type="text" id="input-1" required)
            label(for="input-1").registration-form__label Фамилия
          
          .registration-form__field
            input.registration-form__input(type="text" id="input-2" required)
            label(for="input-2").registration-form__label Имя
          
          .registration-form__field
            input.registration-form__input(type="text" id="input-3" required)
            label(for="input-3").registration-form__label Отчество
          
        .registration-form__group
          .registration-form__field.registration-form__field--big
            input.registration-form__input(type="text" id="input-4" required)
            label(for="input-4").registration-form__label E-mail
          
          .registration-form__field
            input.registration-form__input(type="text" id="input-5" required)
            label(for="input-5").registration-form__label Номер телефона
          
        .registration-form__group
          .registration-form__submit(type="submit")
            | Зарегистироваться
          .registration-form__cancel
            | Отмена
    
    
