doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');

body
  .user
    a.user-logo(href="#")

    .user-info
      .user-info__name
        | Борисов Святослав Игоревич
      .user-info__email
        | sbmustdie@gmail.com

    .profession
      .profession-item
        .profession-item__info
          .profession-item__title
            | Специалист по интеллектуальной обработке данных
          .profession-item__text
            | Разработка интерактивных решений с использованием технологий виртуальной и дополненной реальностей. Моделирование архитектурных объектов и интеграция сторонних сервисов
        .profession-item__icon.profession-item__icon--1
      .profession-item
        .profession-item__info
          .profession-item__title
            | Специалист по взаимодействию робот-человек
          .profession-item__text
            | Участие в проектах по загрузке, обработке, мониторингу, хранению и анализу больших данных. Выявление закономерностей в больших массивах данных. Разработка платформ для аналитических систем и систем поддержки.
        .profession-item__icon.profession-item__icon--2
      .profession-item
        .profession-item__info
          .profession-item__title
            | Продавец офиса продаж
          .profession-item__text
            | Разработка алгоритмов машинного обучения, распознавания и классификации образов; Выбор перспективных технологий и платформ для реализации решений по машинному обучению Подготовка данных, обучение и оптимизация алгоритмов по заданным параметрам
        .profession-item__icon.profession-item__icon--3
      .profession-item
        .profession-item__info
          .profession-item__title
            | Специалист по IoT
          .profession-item__text
            | Разработка алгоритмов машинного обучения, распознавания и классификации образов; Выбор перспективных технологий и платформ для реализации решений по машинному обучению Подготовка данных, обучение и оптимизация алгоритмов по заданным параметрам
        .profession-item__icon.profession-item__icon--4
      .profession-item
        .profession-item__info
          .profession-item__title
            | Директор магазина
          .profession-item__text
            | Разработка интерактивных решений с использованием технологий виртуальной и дополненной реальностей. Моделирование архитектурных объектов и интеграция сторонних сервисов
        .profession-item__icon.profession-item__icon--5
      .profession-item
        .profession-item__info
          .profession-item__title
            | Специалист по интеллектуальной обработке данных
          .profession-item__text
            | Участие в проектах по загрузке, обработке, мониторингу, хранению и анализу больших данных. Выявление закономерностей в больших массивах данных. Разработка платформ для аналитических систем и систем поддержки принятия решений с применением алгоритмов нейронных сетей.
        .profession-item__icon.profession-item__icon--6

  .testing
    .testing-overlay
    .testing-inner
      .testing-title
        | Консультант по Машинному обучению
      .testing-subtitle
        | Разработка алгоритмов машинного обучения, распознавания и классификации образов; Выбор перспективных технологий и платформ для реализации решений по машинному обучению Подготовка данных, обучение и оптимизация алгоритмов по заданным параметрам

      .testing-list
        .testing-list__title
          | НЕОБХОДИМЫЕ КОМПЕТЕНЦИИ
        .testing-list__item
          | Алгоритмы машинного обучения
        .testing-list__item
          | Основы нейронных сетей
        .testing-list__item
          | Принципы распознавания образов
        .testing-list__item
          | Алгоритмические языки и программирование

      .testing-buttons
        a.testing-buttons__submit(href="#")
          | Пройти тестирование
        .testing-buttons__cancel
          | Вернуться к списку