@font-face {
	font-family: 'Officina Book';
	src: url('../fonts/OfficinaSerifBookC.eot');
	src: url('../fonts/OfficinaSerifBookC.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OfficinaSerifBookC.woff') format('woff'),
		url('../fonts/OfficinaSerifBookC.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Officina Book';
	src: url('../fonts/OfficinaSerifBoldC.eot');
	src: url('../fonts/OfficinaSerifBoldC.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OfficinaSerifBoldC.woff') format('woff'),
		url('../fonts/OfficinaSerifBoldC.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
