.c__button {
  font-weight: bold;
  font-size: 17px;
  color: #333333;
  line-height: 24px;
  background-image: linear-gradient(0deg, #F7A700 0%, #FFE100 100%);
  box-shadow: 0 4px 0 0 #A66530, inset 0 -1px 0 0 rgba(255,255,255,0.20);
  border-radius: 100px;
  cursor: pointer;
  display: inline-block;
  padding: 22px 68px 20px;
  text-align: center;

  &--small {
    padding: 12px 30px 8px;
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  .c__button {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .c__button {
    font-size: 14px;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }
}
