.c__title {
  font-weight: bold;
  font-size: 60px;
  color: #000000;
  line-height: 72px;

  text-align: center;
}


@media (max-width: 768px) {
  .c__title {
    font-size: 36px;
    line-height: 50px;
    padding: 0 18px;
  }
}

@media (max-width: 425px) {
  .c__title {
    font-size: 30px;
    line-height: 36px;
  }
}
